extends layout

block content
    .header
        .header-bottom
            .container
                .logo
                    a.img-responsive(href='/')
                        h1 ItrBlog
                .head-nav
                    span.menu
                        ul.cl-effect-3
                            li.active
                                a(href='/') Home
                            li
                                a(href='/search') Search
                            li
                                a(href='/posts') Publications
                            .clearfix
                .header-right1
                    - if(user) {
                    li
                        a(id='username', href='/profile/#{user.username}') #{user.username}
                    li
                        a(href='/signout') Sign Out
                    - } else {
                    li
                        a(href='/signin') Sign In
                    li
                        a(href='/signup') Sign Up
                    - }
                .clearfix
    .main
        .mission
            .container
                .panel.panel-info
                    .panel-heading
                        h4.panel-title User Profile
                    .panel-body
                        .row
                            .col-md-3.col-lg-3(align='center')
                                img.img-circle.img-responsive(alt='User Pic', src='#{user.avatar}')
                            .col-md-9.col-lg-9
                                table.table.table-user-information
                                    tbody
                                        tr
                                            td First Name:
                                            td #{user.firstName}
                                        tr
                                            td Last Name:
                                            td #{user.lastName}
                                        tr
                                            td Shortly about:
                                            td #{user.shortly}
                                        tr
                                            td Interests:
                                            td #{user.interests}
                                        tr
                                            td email
                                            td #{user.email}
                    .panel-footer
                        a.btn.btn-sm.btn-primary#templates-toggle(type='button')
                            i.fa.fa-plus
                        span.pull-right
                            a.btn.btn-sm.btn-warning(href='/edit-settings' type='button')
                                i.fa.fa-pencil-square-o
                            - if(user.username === 'admin') {
                            a.btn.btn-sm.btn-danger(href='/delete-user' type='button')
                                i.fa.fa-times-circle
                            - }
                .recnt#templates(style="display: none;")
                    .container
                        h3 Publication templates
                        .col-md-3
                        .col-md-6
                            .air
                                li.ic-on
                                    i.drib
                                li.wb-dis
                                    h4 Image
                                li.dr-co
                                    h4 Text
                                li.sa-pn
                                    p
                                        i
                                        | &nbsp
                                li.b-tn
                                    .apply_btn
                                        form(action='/create-image-text', method='GET')
                                            input(type='submit', value='Choose Template')
                                .clearfix
                            .air-1
                                li.ic-on
                                    i.cli
                                li.wb-dis
                                    h4 Video
                                li.dr-co
                                    h4 Text
                                li.sa-pn
                                    p
                                        i
                                        | &nbsp
                                li.b-tn
                                    .apply_btn
                                        form(action='/create-video-text')
                                            input(type='submit', value='Choose Template')
                                .clearfix
                            .air
                                li.ic-on
                                    i.facb
                                li.wb-dis
                                    h4 Text
                                li.dr-co
                                    h4 Google Map
                                li.sa-pn
                                    p
                                        i
                                        | &nbsp
                                li.b-tn
                                    .apply_btn
                                        form(action='create-map-text')
                                            input(type='submit', value='Choose Template')
                                .clearfix
                        .col-md-3
                        .clearfix
        .blog(ng-app='profileApp')
            .container
                .blog-content(ng-controller='ProfileCtrl')
                    .blog-content-left
                        .blog-articals
                            .blog-artical(ng-repeat='post in posts track by $index')
                                .blog-artical-basicinfo
                                    ul
                                        li.post-date
                                            p
                                                span {{post.updatedAt | date: "dd"}}
                                                label {{post.updatedAt | date: "MMM, yyyy"}}
                                        .clearfix
                                .blog-artical-info
                                    .blog-artical-info-head
                                        h2
                                            a(href='/post/{{post.id}}') {{post.title}}
                                        ul
                                            li
                                                i.adm1
                                                | by
                                                a(href='/profile/{{post.username}}') {{post.username}}
                                            li
                                                span
                                                a(href='', ng-repeat='tag in post.tags track by $index') {{tag.name}}
                                            li
                                                span.pull-right.edit-post
                                                    a(href='/edit-image-text')
                                                        i.fa.fa-edit.fa-lg
                                            li
                                                span.pull-right.delete-post
                                                    a(href='/edit-image-text')
                                                        i.fa.fa-times.fa-lg
                                            .clearfix
                                    .blog-artical-info-text
                                        p {{post.content}}
                                            a(href='/post/{{post.id}}') [...]
                                .clearfix
                    .blog-content-right
                        .b-search
                            form
                                input(type='text', value='Search', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = 'Search';}")
                                input(type='submit', value='')
    .footer-bottom
        .container
            p
                | Copyrights © 2015
            block scripts
                script(src='/angular/angular.min.js')
                script(src='/js/controllers/profileController.js')
                script(src="/js/profile.js")