extends layout

block content
  .header
    .header-bottom
      .container
        .logo
          h1.img-responsive Blog
        .head-nav
          span.menu
          ul.cl-effect-3
            li
              a(href='/home') Home
            li
              a(href='/posts') Blog
            li
              a(href='/contact') Contact
            .clearfix
          script.
            $("span.menu").click(function () {
              $(".head-nav ul").slideToggle(300, function () {
              });
            });
        .header-right1
            - if(user) {
            li
                a(href='/profile/#{user.username}') #{user.username}
            li
                a(href='/signout') Sign Out
            - } else {
            li
                a(href='/signin') Sign In
            li
                a(href='/signup') Sign Up
            - }
        .clearfix
  // header
  .mission
    .container
      .panel.panel-info
        .panel-heading
          h4.panel-title User Profile
        .panel-body
          .row
            .col-md-3.col-lg-3(align='center')
              img.img-circle.img-responsive(alt='User Pic', src='#{user.avatar}')
            .col-md-9.col-lg-9
              table.table.table-user-information
                tbody
                  tr
                    td First Name:
                    td #{user.firstName}
                  tr
                    td Last Name:
                    td #{user.lastName}
                  tr
                    td Shortly about:
                    td #{user.shortly}
                  tr
                    td Interests:
                    td #{user.interests}
                  tr
                    td email
                    td #{user.email}
        .panel-footer
          a.btn.btn-sm.btn-primary#templates-toggle(type='button')
            i.fa.fa-plus
          span.pull-right
            a.btn.btn-sm.btn-warning(href='/edit-settings' type='button')
              i.fa.fa-pencil-square-o
      .recnt#templates(style="display: none;")
          .container
              h3 Publication templates
              .col-md-3
              .col-md-6
                  .air
                      li.ic-on
                          i.drib
                      li.wb-dis
                          h4 Image
                      li.dr-co
                          h4 Text
                      li.sa-pn
                          p
                              i.bung
                              |&nbsp
                      li.b-tn
                          .apply_btn
                              form(action='/template_image_text')
                                  input(type='submit', value='Choose Template')
                      .clearfix
                  | &#x9;&#x9;&#x9;
                  .air-1
                      li.ic-on
                          i.cli
                      li.wb-dis
                          h4 Video
                      li.dr-co
                          h4 Text
                      li.sa-pn
                          p
                              i.bung
                              |&nbsp
                      li.b-tn
                          .apply_btn
                              form(action='#')
                                  input(type='submit', value='Choose Template')
                      .clearfix
                  .air
                      li.ic-on
                          i.facb
                      li.wb-dis
                          h4 Text
                      li.dr-co
                          h4 Google Map
                      li.sa-pn
                          p
                              i.bung
                              |&nbsp
                      li.b-tn
                          .apply_btn
                              form(action='#')
                                  input(type='submit', value='Choose Template')
                      .clearfix
                  .air-1
                      li.ic-on
                          i.intre
                      li.wb-dis
                          h4 Image
                      li.dr-co
                          h4 Text
                      li.sa-pn
                          h4 Video
                      li.b-tn
                          .apply_btn
                              form(action='#')
                                  input(type='submit', value='Choose Template')
                      .clearfix
              .col-md-3
              .clearfix
    // footer-bottom
  .footer-bottom
    .container
      p
        | Copyrights © 2015
      block scripts
          script(src="/js/profile.js")