extends layout

block content
    .header
        .header-bottom
            .container
                .logo
                    h1.img-responsive Blog
                .head-nav
                    span.menu
                    ul.cl-effect-3
                        li
                            a(href='/home') Home
                        li
                            a(href='/posts') Blog
                        li
                            a(href='/contact') Contact
                        .clearfix
                    script.
                        $("span.menu").click(function () {
                            $(".head-nav ul").slideToggle(300, function () {
                            });
                        });
                .header-right1
                    li
                        a(href='/signin') Sign In
                    li
                        a(href='/signup') Sign Up
                .clearfix
    // header
    .mission
        .container
            .panel.panel-info
                .panel-heading
                    h4.panel-title User Profile
                .panel-body
                    .row
                        .col-md-3.col-lg-3(align='center')
                            img.img-circle.img-responsive(alt='User Pic', src='#{info.avatar}')
                        .col-md-9.col-lg-9
                            table.table.table-user-information
                                tbody
                                    tr
                                        td First Name:
                                        td #{info.firstName}
                                    tr
                                        td Last Name:
                                        td #{info.lastName}
                                    tr
                                        td Shortly about:
                                        td #{info.shortly}
                                    tr
                                        td Interests:
                                        td #{info.interests}
                                    tr
                                        td email
                                        td #{info.email}
        // footer-bottom
    .footer-bottom
        .container
            p
                | Copyrights © 2015
            block scripts
                script(src="/js/profile.js")